
.footer > p{
 font-size: 12px !important;
    padding: 40px 0;
    color: #2E4053  !important;
    margin:0 !important;
}

.color{
    color:#2471A3;
    font-weight:  bold;
}

.center{
    text-align: center;
}
